@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

textarea {
    background: linear-gradient(transparent calc(4rem - 1px), #49494b calc(4rem - 1px) 4rem, transparent 4rem) repeat-y;
    background-size: 100% 4rem;
    line-height: 4rem;
    outline: none;
    resize: none;
    font-size: 1.125rem;
}

.contact-input {
    line-height: 1.625rem;
    padding: 1rem 0;
    border-bottom: 1px solid #49494b;
    outline: none;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}