---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/terrannft.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Terran</title>
  </head>
  <body class="font-satoshi-regular">
    <div class="black-background"></div>
    <div class="water-glow"></div>
    <div class="retro-background"></div>
    <slot />
  </body>
</html>
